<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>angular</title>
    <script src="./lib/angular.min.js"></script>
</head>

<body ng-app="app" ng-controller="Ctrl as ctrl">
    <form>

        <!-- 复选框 Start -->
        <label ng-repeat="(index,item) in ctrl.checkData" for="{{ item.key }}">
                <input type="checkbox" 
                       name="check" 
                       value="{{ item.text }}" 
                       id="{{ item.key }}" 
                       ng-model="item.checked"
                       ng-change="ctrl.changeCheckbox($event, item, index)">
                {{ item.text }}
        </label>
        <label for="all">
            <input type="checkbox" 
                   name="all" 
                   id="all"
                   ng-model="ctrl.isAll"
                   ng-change="ctrl.ckall()">全选
        </label>
        <!-- 复选框 End -->
        <br><br>

        <!-- 单选按钮 Start -->
        <label ng-repeat="item in ctrl.radioData track by $index" for="{{ item.key }}">
            <input type="radio" 
                   name="gender" 
                   value="{{ item.key }}" 
                   id="{{ item.key }}" 
                   ng-model="item.checked"
                   ng-change="ctrl.changeRadio($event, item, index)">
            {{ item.text }}
        </label>
        <!-- 单选按钮 End -->
        <br><br>

        <!-- 下拉框 Start -->
        <select id="add" 
                ng-model="ctrl.selected" 
                ng-init="ctrl.selected=ctrl.selectData[0]" 
                ng-options="city.name for city in ctrl.selectData"
                ng-change="ctrl.changeSelect()">
        </select>
        <!-- 下拉框 End -->
        <br><br>

        <input type="submit" value="提交" ng-click="ctrl.submit($event)">
    </form>
    <a href="./angular.html">angular</a>
    <a href="./jQuery.html">jQuery</a>
    <a href="./index.html">index</a>
</body>

</html>
<script>
    angular
        .module("app", [])
        .controller("Ctrl", ctrl);

    ctrl.$inject = ['$filter'];

    function ctrl($filter) {
        var vm = this;

        // checkbox数据
        vm.checkData = [
            { key: "eat", text: "吃饭" }, 
            { key: "sleep", text: "睡觉" }, 
            { key: "code", text: "写代码" } ];
        // 被选中的checkbox
        vm.checkedList = [];
        // 是否全选
        vm.isAll = false;
        // checkbox change 事件
        vm.changeCheckbox = function ($event, item, index) {
             if (item.checked) {
                 vm.checkedList.push(item);
             } else {
                 var index = vm.checkedList.indexOf(item);
                 vm.checkedList.splice(index, 1);
             }
             console.log("checkbox ==> ", item);
             console.log("checkedList ==> ", vm.checkedList);
             vm.isAll = $filter('filter')(vm.checkData, {checked: true}).length === vm.checkData.length;
        }
        vm.ckall = function () {
            vm.checkedList = [];
            angular.forEach(vm.checkData, function (item) {
                item.checked = vm.isAll;
                if(vm.isAll) {
                    vm.checkedList.push(item);
                }
            });
            console.log("checkedList ==> ", vm.checkedList);
        }




        // 后台获取到的所有性别
        vm.radioData = [
            { key: "boy", text: "男生" }, 
            { key: "girl", text: "女生" } ];
        // 选中的radio
        vm.checkedRadio = null;
        // radio change 时间
        vm.changeRadio = function ($event, item, index) {
            vm.checkedRadio = item;
            console.log("checkedRadio ==> ", vm.checkedRadio);
        } 




        // select数据
        vm.selectData = [
            { id: "1", name: "北京" }, 
            { id: "2", name: "上海" }, 
            { id: "3", name: "广州" } ];
        // 选中的select
        vm.selected = null;
        // select change 事件
        vm.changeSelect = function () {
            console.log("selected ==> ", vm.selected);
        }




        // submit 事件
        vm.submit = function ($event) {
            console.log("checkedList ==> ", vm.checkedList);
            console.log("checkedRadio ==> ", vm.checkedRadio);
            console.log("selected ==> ", vm.selected);
        }

    }
</script>
