<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ng-表单</title>
    <script src="../lib/angular.js"></script>
</head>

<body ng-app="app" ng-controller="Ctrl as ctrl">
    <form>

        <!-- 复选框 Start -->
        <label ng-repeat="(i,v) in ctrl.hobbys" for="{{ v.idx }}">
                <input type="checkbox" 
                       name="hobby" 
                       value="{{ v.val }}" 
                       id="{{ v.idx }}" 
                       ng-model="ctrl.checked[i]" 
                       ng-true-value='"{{v.val}}"'
                       ng-false-value='false'
                       ng-change="ctrl.ck()">
                {{ v.val }}
        </label>
        <label for="all">
            <input type="checkbox" 
                   name="all" 
                   id="all"
                   ng-model="ctrl.isAll"
                   ng-change="ctrl.ckall()">
            全选
        </label>
        <!-- 复选框 End -->
        <br><br>

        <!-- 单选按钮 Start -->
        <label ng-repeat="(i,v) in ctrl.genders" for="{{ v.idx }}">
            <input type="radio" 
                   name="gender" 
                   value="{{ v.idx }}" 
                   id="{{ v.idx }}" 
                   ng-model="ctrl.formdata.gender">
            {{ v.val }}
        </label>
        <!-- 单选按钮 End -->
        <br><br>

        <!-- 下拉框 Start -->
        <select id="add" 
                ng-model="ctrl.formdata.mycity" 
                ng-init="ctrl.formdata.mycity=ctrl.add[0].id" 
                ng-options="city.id as city.name for city in ctrl.add">
        </select>
        <!-- 下拉框 End -->
        <br><br>

        <input type="submit" value="提交" ng-click="ctrl.submit($event)">
    </form>
</body>

</html>
<script>
    angular
        .module("app", [])
        .controller("Ctrl", ctrl);

    ctrl.$inject = [];

    function ctrl() {
        var vm = this;

        // 后台获取到的所有爱好
        vm.hobbys = [
            { idx: "eat", val: "吃饭" }, 
            { idx: "sleep", val: "睡觉" }, 
            { idx: "code", val: "写代码" } ];

        // 后台获取到的所有性别
        vm.genders = [
            { idx: "boy", val: "男生" }, 
            { idx: "girl", val: "女生" } ];

        // 后台获取到的所有地址
        vm.add = [
            { id: "1", name: "北京" }, 
            { id: "2", name: "上海" }, 
            { id: "3", name: "广州" } ];

        // 是否全部选中
        vm.isAll = false;

        // 所有选中的爱好
        vm.checked = [];

        // form表单的数据
        vm.formdata = {};

        vm.submit = function ($event) {

            $event.preventDefault();

            vm.formdata.hb = vm.checked.filter(function (v) {
                return v;
            });

            console.log("复选框 ", vm.formdata.hb);

            console.log("单选框 ", vm.formdata.gender);

            console.log("下拉框 ", vm.formdata.mycity);

            console.log("form表单", vm.formdata);
        }

        vm.ckall = function () {
            if (vm.isAll) {
                vm.checked = [];
                for (var i = 0; i < vm.hobbys.length; i++) {
                    vm.checked.push(vm.hobbys[i].val);
                }
            } else {
                vm.checked = [];
            }
        }

        vm.ck = function () {

            var tempArr = vm.checked.filter(function (v) {
                return v;
            });

            if (tempArr.length == vm.hobbys.length) {
                vm.isAll = true;
            } else {
                vm.isAll = false;
            }
        }
    }
</script>
